

header {
    background-color: #fff27b;
    color: rgb(189, 185, 185);
    text-align: center;
    padding: 0.50em;
}



footer {
    background-color: #b2f1b4;
    color: rgb(235, 227, 227);
    text-align: center;
    padding: 0,50em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p{
    color: black;
}
body{
    max-heigth:10px;
}

